:root {

  // site main color
  --primary-color: rgb(40, 159, 46);
  --secondary-color: rgb(19, 124, 24);

  // background
  --bg-primary: rgb(241, 241, 241); //
  --bg-secondary: rgb(255, 255, 255); //
  --bg-tertiary: rgb(249 249 249);

  --bg-primary-reverse: rgb(24, 24, 24);
  --bg-secondary-reverse: rgb(0, 0, 0);
  --bg-tertiary-reverse: rgb(32, 32, 32);

  --bg-white: rgb(255, 255, 255);
  --bg-white-reverse: rgb(0, 0, 0);
  --bg-black: rgb(0, 0, 0);
  --bg-black-reverse: rgb(255, 255, 255);

  // text
  --text-primary: rgb(3, 3, 3); //
  --text-secondary: rgb(96, 96, 96); //
  --text-primary-reverse: rgb(255, 255, 255);
  --text-secondary-reverse: rgb(170, 170, 170);

  // button
  --button-primary: rgb(248, 248, 248); //
  --button-primary-hover: rgba(255, 255, 255, 0.08);
  --button-primary-focus: rgb(28, 99, 186);

  --button-primary-border: rgb(211, 211, 211); //
  --button-primary-border-hover: rgb(211, 211, 211);

  // border
  --border-primary: rgb(229, 229, 229);
  --border-secondary: rgb(0, 0, 0);

  // link
  --link-primary: rgb(187, 187, 187);
  --call-to-action: rgb(6, 95, 212); //

  // icon
  --icon-primary: rgb(3, 3, 3); //

  // searchbox
  --searchbox-primary-bg: rgb(255 255 255);
  --searchbox-primary-text: rgba(17, 17, 17);
  --searchbox-primary-text-focus: rgb(28, 99, 186);
  --searchbox-primary-border: rgb(204 204 204); //

  --primary-font: "Poppins", "Arial", sans-serif;
  --secondary-font: "Roboto", "Arial", sans-serif;

  // math formula
  --math-primary: invert(0);
}

[data-theme="dark"] {
  // background
  --bg-primary: rgb(24, 24, 24);
  --bg-secondary: rgb(32, 32, 32);
  --bg-tertiary: rgb(50, 50, 50);
  //
  --bg-primary-reverse: rgb(24, 24, 24);
  --bg-secondary-reverse: rgb(0, 0, 0);
  --bg-tertiary-reverse: rgb(32, 32, 32);
  //
  --bg-white: rgb(255, 255, 255);
  --bg-white-reverse: rgb(0, 0, 0);
  --bg-black: rgb(0, 0, 0);
  --bg-black-reverse: rgb(255, 255, 255);

  // text
  --text-primary: rgb(255, 255, 255);
  --text-secondary: rgb(170, 170, 170);
  --text-primary-reverse: rgb(0, 0, 0);
  --text-secondary-reverse: rgb(170, 170, 170);

  // button
  --button-primary: rgba(255, 255, 255, 0.08);
  --button-primary-hover: rgba(255, 255, 255, 0.08);
  --button-primary-focus: rgb(28, 99, 186);
  //
  --button-primary-border: rgb(211, 211, 211);
  --button-primary-border-hover: rgb(211, 211, 211);

  // border
  --border-primary: rgba(255, 255, 255, 0.1);
  --border-secondary: rgb(229, 229, 229);
  --button-primary-hover: rgba(255, 255, 255, 0.08);
  --button-primary-focus: rgb(28, 99, 186);
  //
  --button-primary-border: rgb(48, 48, 48);
  --button-primary-hover-border: rgb(48, 48, 48);

  // link
  --link-primary: rgb(68, 68, 68);

  // icon
  --icon-primary: var(--text-primary);

  // searchbox
  --searchbox-primary-bg: rgb(18, 18, 18);
  --searchbox-primary-text: rgba(255, 255, 255, 0.88);
  --searchbox-primary-text-focus: rgb(28, 99, 186);
  --searchbox-primary-border: rgb(204 204 204);

  // math formula
  --math-primary: invert(1);
}

.Wirisformula {
  filter: var(--math-primary);
}

body {
  // position: relative;
  // padding-bottom: 48px;
  // padding-top: 56px;
  min-height: 100vh;
  background-color: var(--bg-primary);
  color: var(--text-primary);
}

.content {
  position: absolute;
  top: 90px;
  width: 100%;
  height: 90vh;
}

ol,
ul {
  margin: 16px 0;
  padding-left: 40px;
  line-height: 1.4;
}

tr td {
  padding-left: 10px;
}

p {
  margin: 16px 0;
  color: var(--text-primary);
  // text-indent: 50px;
  text-align: justify;
  line-height: 1.4;
}

h1 {
  margin: 21px 0;
}

h2 {
  margin: 19px 0;
}

h3 {
  margin: 18px 0;
}

